<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>
<body>
<div class="workingroom">
    <div th:include="@{/include/menu.html}"></div>
    <table>
        <tr>
            <td>id</td>
            <td>权限名称</td>
            <td>权限描述</td>
            <td>权限对应的路径</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        <tr th:each="p:${ps}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.describe}"></td>
            <td th:text="${p.url}"></td>
            <td><a th:href="'editPermission?id='+${p.id}">编辑</a> </td>
            <td><a th:href="'deletePermission?id='+${p.id}">删除</a> </td>
        </tr>
    </table>

    <div class="addOrEdit" >
        <form action="addPermission" method="post">
            权限名称: <input type="text" name="name"> <br>
            权限描述: <input type="text" name="describe"> <br>
            权限对应的url: <input type="text" name="url"> <br><br>
            <input type="submit" value="增加">
        </form>
    </div>
</div>
</body>
</html>